<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="boardMapper">

	<select id="selectBoardCount" resultType="_int">
		SELECT
				COUNT(*)
		 FROM
		 		WEB_BOARD
		 WHERE
		 		STATUS = 'N'			
	</select>
	
	<select id="selectBoardList"
			parameterType="com.kh.web.common.model.dto.PageInfo"
			resultType="board">
		SELECT
			   BOARD_NO	
			 , USER_NAME
			 , BOARD_TITLE
			 , CREATE_DATE
			 , COUNT
		FROM
				WEB_BOARD W
		JOIN
				WEB_MEMBER USING(USER_NO)
		WHERE
				W.STATUS ='N'
		ORDER
		  BY
		  		CREATE_DATE DESC
		  OFFSET #{offset} ROWS FETCH NEXT #{boardLimit} ROWS ONLY							 	
			
			
	 </select>
	 
	 <select id="selectBoard" resultType="board">

		SELSECT
		
					BOARD_NO
						
					,USER_NAME
						
					,BOARD_TITLE
						
					,BOARD_CONTENT
						
		FROM
				WEB_BOARD	
		JOIN
				WEB_MEMBER USING(USER_NO)
		
		WHERE
				WEB_BOARD.STATUS = 'N'
		
		AND
				BOARD_NO = #{boardNo}
	</select>
					

	<select id="selectAttachment" resultType="com.kh.web.board.model.dto.AttachmentDto">

		SELECT

				FILE_NO
				
				,ORIGIN_NAME
				
				,CHANGE_NAME
				
				,FILE_PATH

		FROM

				WEB_ATTACHMENT

		REF_BNO = #{boardNo}

	</select>
	
	<insert id="insertBoard" parameterType="board">
	<selectKey order="AFTER" resultType="long" keyProperty="boardNo"> 
		SELECT MAX(BOARD_NO) FROM WEB_BOARD
	 </selectKey>
		INSERT
		INTO
				WEB_BOARD
				(
				USER_NO
			  , BOARD_TITLE
			  , BOARD_CONTENT	
				)
		VALUES
				(
				#{userNo}
			  , #{boardTitle}	
			  , #{boardContent}	
				)		
	</insert>

	<insert id="insertAttachment">
		INSERT
		INTO
				WEB_ATTACHMENT
				(
				REF_BNO
			 , ORIGIN_NAME
			 , CHANGE_NAME
			 , FILE_PATH
			 , BOARD_TYPE
			 , FILE_LEVEL	
				)
		VALUES
				(
				#{refBno}
			, #{originName}
			, #{changeName}	
			, #{filePath}	
			, #{boardType}	
			, #{fileLevel}	
				
				)
	
	
	
	</insert>
	
	
	<update id="updateBoard">
		UPDATE
				WEB_BOARD
		SET
				BOARD_TITLE = #{boardTitle}
			  , BOARD_CONTENT = #{boardContent}			
		WHERE
				STATUS = 'N'
		AND
				BOARD_NO = #{boardNo}		
		AND
				USER_NO = #{userNo}
	
	</update>
	
	<update id="updateAttachment">
		UPDATE
				WEB_ATTACHMENT
		SET
				ORIGIN_NAME = #{originName}
			  , CHANGE_NAME = #{changeName}			
			  , #{filePath}	
			  , #{boardType}	
			  , #{fileLevel}	
	
	</update>
	
	
	<insert id="insertImage">
		<selectKey resultType="Long" keyProperty="boardNo" order="BEFORE">
				SELECT SEQ_IMAGE.NEXTVAL FROM DUAL
	
		</selectKey>
		INSERT
		INTO
				WEB_IMAGE_BOARD
				(
				BOARD_NO
			  ,	BOARD_TITLE
			  , BOARD_CONTENT
			  , BOARD_WRITER
				)
		VALUES
				(
				#{boardNo}
			 , #{boardTitle}
			 , #{boardContent}
			 , #{userNo}	
				)		
		
		
	</insert>
	
	<select id="selectImageList" resultType="board">
		SELECT
				BOARD_NO
			  , BOARD_TITLE
			  , WEB_IMAGE_BOARD.CREATE_DATE
			  , FILE_PATH || '/' || CHANGE_NAME "src"
	    FROM
	    		WEB_IMAGE_BOARD
	    JOIN
	    		WEB_ATTACHMENT ON(BOARD_NO = REF_BNO)	
		WHERE
				BOARD_TYPE  ='I'
		AND 	
				STATUS = 'N'
		AND
				FILE_LEVEL = 1		
		ORDER 
		BY 
				BOARD_NO DESC 
	</select>
	<resultMap id="imageResultSet" type="com.kh.web.board.model.dto.ImageResponse">
		<id column="BOARD_NO" property="boardNo" />
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<collection property="files" ofType="com.kh.web.board.model.dto.AttachmentDto">
			<id column="FILE_NO" property="fileNo" />
			<result column="CHANGE_NAME" property="changeName"/>
			<result column="FILE_PATH" property="filePath"/>
		</collection>
	</resultMap>
	
	
	
	
	<select id="selectImageDetail" resultMap="imageResultSet">
	SELECT
			BOARD_NO
		  , BOARD_TITLE
		  , BOARD_CONTENT
		  , FILE_NO
		  , CHANGE_NAME
		  , FILE_PATH
   FROM
   			WEB_IMAGE_BOARD
   	JOIN
   			WEB_ATTACHMENT ON (BOARD_NO = REF_BNO)
   	WHERE
   			BOARD_NO = #{boardNo}
   	AND
   			WEB_IMAGE_BOARD.STATUS = 'N'
   	ORDER
   	  BY
   	  		BOARD_NO DESC 
   	  												  	
	
	
	</select>
	
	<insert id="insertReply">
		INSERT
		INTO
				WEB_REPLY
				(
				REPLY_NO
			  , REF_BNO
			  , REPLY_CONTENT
			  , REPLY_WRITER
				)
	VALUES
				(
				SEQ_REPLY.NEXTVAL
				, #{refBno}
				, #{replyContent}
				, #{replyWriter}
				)
	
	</insert>
	
	
   <select id="selectReply"
   	resultType="com.kh.web.ajax.model.dto.ReplyDto">
   	
   SELECT
   			REPLY_NO
   		,  REPLY_CONTENT
   		, USER_NAME
   		, CREATE_DATE
   FROM
   			WEB_REPLY
   	JOIN
   			WEB_MEMBER ON (REPLY_WRITER = USER_NO)
   	WHERE
   			WEB_REPLY.STATUS = 'N'
   	AND		
   			WEB_BNO = #{boardNo}
   	ORDER
   	  BY	
   	  		REPLY_NO DESC								
   
   
   
   </select>
	
	

	
	
	
	
	
	
</mapper>


