<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="memberMapper">

	<insert id="insertMember"
			parameterType="member">
	   INSERT
	   	INTO
	   			WEB_MEMBER
	   			(
	   			USER_NO
	   			,USER_ID
	   			,USER_PWD
	   			,USER_NAME
	   			,EMAIL
	   			
	   			)
	   		VALUES
	   				(
	   				SEQ_MEM_NO.NEXTVAL
	   				,#{userId}
	   				,#{userPwd}
	   				,#{userName}
	   				,#{email}
	   				)	
	</insert>
	
	<select id="login"
		resultType="member"
		parameterType="member">
	SELECT
		   USER_NO userNo
		 , USER_ID userId
		 , USER_NAME userName
		 , EMAIL
		 , ENROLL_DATE enrollDate
		 , MODIFY_DATE modifyDate
		 , STATUS
		FROM
				WEB_MEMBER
		WHERE
				USER_ID = #{userId}			
		AND
				USER_PWD = #{userPwd}
		AND
				STATUS = 'N'
	</select>
	
	<update id="updateMember"
			parameterType="map">
		UPDATE
				WEB_MEMBER
		  SET
		  		USER_NAME = #{ userName }	
		  	  , EMAIL = #{ email }	
		  	  , MODIFY_DATE = SYSDATE	
		 WHERE
		 		USER_NO = #{ userNo }	
			AND
				STATUS = 'N'
	  </update>
	
	<select id="selectMember"
			resultType="member"
			parameterType="long">
	SELECT
			USER_NO
		  , USER_ID
		  , USER_NAME
		  , EMAIL
		  , ENROLL_DATE
		  ,	MODIFY_DATE
		  , STATUS
	 FROM
	 		WEB_MEMBER
	 WHERE
	 		USER_NO = #{ userNo }
	 AND
	 		STATUS = 'N'				
	
	</select>
	
	<update id="updatePassword"
			parameterType="com.kh.web.member.model.dto.UpdatePwdDto">
	<!-- 풀클래스 -->
		
		UPDATE
				WEB_MEMBER
		  SET
		  		USER_PWD = #{updatePwd}		
		WHERE
				USER_PWD = #{userPwd}
		AND
				USER_NO	= #{userNo}	
		AND
				STATUS = 'N'		
	</update>
	
	<update id="deleteMember" parameterType="member">
		UPDATE
				WEB_MEMBER
		SET
				STATUS = 'Y'
			  , MODIFY_DATE = SYSDATE
		WHERE
				USER_NO = #{userNo}  			
		AND
				USER_PWD = #{ userPwd }
		AND
				STATUS = 'N'		
	</update>
	
	
	
	
	
	
	
</mapper>


